<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<h3 th:text="${factura.description}"></h3>


<table>
    <thead>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Total</th>
    </thead>
    <tbody>
    <tr th:each=" item: ${factura.itemFacturas} ">
        <td th:text="${item.product.nombre}"></td>
        <td th:text="${item.product.precio}"></td>
        <td th:text="${item.count}"></td>
        <td th:text="${item.product.precio * item.count}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>